{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> AI TicTacToe</h1>
            </div>

            <div class="game">
                <div class="row">
                    <div id="cel.0.0" class="cell"></div>
                    <div id="cel.0.1" class="cell"></div>
                    <div id="cel.0.2" class="cell last"></div>
                </div>
                <div class="row">
                    <div id="cel.1.0" class="cell"></div>
                    <div id="cel.1.1" class="cell"></div>
                    <div id="cel.1.2" class="cell last"></div>
                </div>
                <div class="row last">
                    <div id="cel.2.0" class="cell"></div>
                    <div id="cel.2.1" class="cell"></div>
                    <div id="cel.2.2" class="cell last"></div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    div .game{
        background: lightgray;
        width: 300px;
        height: 300px;
    }
    div .row{
        height: 95px;
        width: 100%;
        border-bottom: solid;
        border-width: 5px;
        border-color: black;
    }
    div .cell{
        height: 75px;
        width: 64px;
        border-right: solid;
        border-width: 5px;
        border-color: black;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        font-size: 70px;
        padding-left: 20px;
        cursor: pointer;
    }

    div .last{
        border-style: none;
    }
</style>
{% endblock %}

{% block javascripts %}
<script type="application/javascript">
    $( document ).ready(function() {
        var boardState = [['','',''],['','',''],['','','']];
        $('.cell').on('click', function(e){
            var val = $(this).html();
            if(val == ""){
                var moveIndex = $(this).attr('id');
                moveIndex = moveIndex.replace('cel.','');
                apiPlay(boardState, 'X', moveIndex, function(moveIndex, gameover) {
                    $("div[id='cel."+moveIndex+"'").html('X');
                    var moveRowCol = moveIndex.split(".");
                    boardState[moveRowCol[0]][moveRowCol[1]] = 'X';
                    if(gameover !== undefined){
                        if(gameover==1){
                            alert('You Won!');
                        }else if(gameover == 0){
                            alert('Tie');
                        }else if(gameover == -1){
                            alert('You Lose!');
                        }
                    }else{
                        apiPlay(boardState, 'O', undefined, function(moveIndex) {
                            $("div[id='cel."+moveIndex+"'").html('O');
                            var moveRowCol = moveIndex.split(".");
                            boardState[moveRowCol[0]][moveRowCol[1]] = 'O';
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock %}